/* ToggleButton.css */
.toggle-button {
  background-color: #333; /* Off state color */
  border: none;
  border-radius: 50%;
  padding: 15px;
  position: relative;
  width: 50px; /* Button size */
  height: 50px; /* Button size */
  cursor: pointer;
  transition: background-color 0.3s ease;
 }
 .toggle-button .inner-circle {
  background-color: #fff; /* Circle color */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px; /* Inner circle size */
  height: 20px; /* Inner circle size */
 }
 .toggle-button.on {
  background-color: lightgreen; /* On state color */
 }
